/* General Styles */
body {
  background-color: #f2f3f4; 
}

.App {
  text-align: center;
}

header {
  background-color: #ffffff; 
  color: black; 
  padding: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  height: 30px; 
}

.navbar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: 600;
}

.navbar-links ul li {
  display: inline;
  margin-right: 20px;
}

.navbar-links ul li a {
  text-decoration: none;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Mobile Styles */
.menu-toggle {
  display: none; 
  cursor: pointer;
}

.header__sm-menu {
  display: none; 
}

.header__sm-menu--active {
  display: none; 
}
.btn {
  text-decoration: none;
  color: #fff;
  text-decoration-color:#fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 13px;
  display: inline-block;
  margin-bottom: 10px; 
}

@media screen and (max-width: 768px) {
  body {
    background-color: #f2f3f4; 
  }
  .navbar-links ul {
    display: none; 
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    bottom: 1000px;
    background-color: #ffffff;
    text-align: left; 
    padding-left: 0; 
  }

  .navbar-links.active ul {
    display: block; 
  }

  .menu-toggle {
    display: block;
    color: white;
    font-size: 1rem; 
    width: 20px; 
    height: 20px; 
    position: absolute; 
    top: 10px; 
    right: 50px; 
  }

  .header__sm-menu {
    background: #fff;
    position: absolute;
    width: 100%;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    background-color: white;
  }

  .header__sm-menu--active {
    visibility: visible;
    opacity: 1;
  }

  .header__sm-menu-content {
    padding: 20px;
  }

  .header__sm-menu-links {
    list-style: none;
    padding: 10px;
  }

  .header__sm-menu-link a {
    display: block;
    text-decoration: none;
    color: #fffdfd;
    padding: 10px 0;
  }

  .header__sm-menu-link a:hover {
    color: #0f86ed;
  }

  /* Vertical display of menu items */
  .navbar-links ul li {
    display: block; 
    margin-right: 0; 
    padding-left: 20px;
    margin-bottom: 10px; 
    font-family: inherit;
  font-weight: 600;
  }
}



