/* TradingViewWidget.css */

.tradingview-widget-container {
    margin-top: 20px; 
    width: 75%; 
    margin-left: auto; 
    margin-right: auto; 
  }
  
  .tradingview-widget-container__widget {
    
    left: 75%;
  }
  
 
  
  .crypto-card {
    margin-top: 20px; 
  }
  